.container{
    width: 1180px;
    height: 460px;
    margin: auto;
    margin-top: 50px;
    background-color: #f5e1e9;
    text-align: center;
    border-radius: 5px;
     position: relative;
}
.button1{
    border-radius: 5px;
    margin-top: 16px;
    height: 45px;
    width: 350px;
    font-size: medium;
    border: 2px solid black;
    font-weight: 100;
}
.innerdiv1{
    margin-top: 14px;
    justify-content: center;
    display: flex;
    gap:5px
}
.formdiv1 > div{
    justify-content: center;
    display: flex;
    gap: 30px;
    margin-top: 25px;
}
.formdiv1 > div > input{
    height: 30px;
    width: 405px;
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 10px;
    font-size : medium;
}
.formdiv1 > div > input:focus{
    outline :none;
}
.formdiv2{
    justify-content: center;
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.formdiv2 > div > input{
    color: rgb(182,186,190);
    height: 30px;
    width: 245px;
    border-radius: 5px;
    border: 1px solid white;
    border: opx;
    padding-left: 20px;
    font-size: medium;
}
.formdiv2 > div > input:focus{
    outline: none;
}
.formdiv3{
    margin-top: 25px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.cancel{
    height: 39px;
    width: 350px;
    background-color: rgb(33,37,41);
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(33,37,41);
    font-size: medium;
}
.save{
    height: 39px;
    width: 350px;
    background-color: rgb(252,38,120);
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(252,38,120);
    font-size: medium;
}
.special{
    width: 300px;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid white;
    padding-left: 10px;
    font-size: medium;
}
.details{

    height: 33px;
    width: 105px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgb(33,37,41);
    background-color: rgb(33,37,41);
    color: white;
    font-size: medium;
}
.img1{
       margin-left: -460px;
       margin-top: -50px;
        position: absolute;
}
.img2{
    margin-left: 1100px;
     margin-top: -50px;
}

#slide {
  height: 1025.69px;
  width: 656.61px;
  /* border:1px solid red; */
}

#bg {
  height: 1025.69px;
  width: 656.61px;
  position: relative;
  object-fit: cover;
}
#form {
  position: absolute;
  top: 80px;
  background-color: white;
  height: 440px;
  width: 600px;
  margin-left: 50px;
  /* border:1px solid red; */
}
#head {
  font-size: 24px;
  font-family: "Quicksand";
  color: #000000de;
}
#numHold {
  display: flex;
}
#code {
  font-size: 22px;
  margin-top: 10px;
  color: rgb(89, 89, 89);
  margin-right: 10px;
  margin-left: 20px;
}
#number {
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(147, 143, 143);
  height: 22px;
  width: 20px;
  margin-left: 10px;
  font-size: 22px;
  margin-top: 15px;
}
#number:focus {
  border-color: rgb(147, 143, 143);
}

#otp {
  width: 20px;
}
#request {
  height: 41px;
  width: 130px;
  background-color: #adadad;
  color: #ffffff;
  padding: 10px;
  font-size: 14px;
  border: none;
  margin-left: 30px;
}
#enter {
  font-size: 14px;
  font-family: "Quicksand";
  color: #e05e90;
  padding: 4px 0px;
  margin: 0px 0px 2px;
  text-align: left;
  margin-left: 30px;
}
#hr {
  width: 90%;
  margin-top: 20px;
  color: rgb(234, 225, 225);
}
#digit {
  font-size: 14px;
  font-family: "Quicksand";
  color: #464343de;
  font-weight: 500;
  margin: 0px 0px 2px;
  text-align: left;
  margin-left: 30px;
  margin-top: 40px;
}

#otpHold {
  display: flex;
  margin-top: 20px;
  height: 30px;
  width: 150px;

  margin-left: 30px;
}
#otp {
  outline: 0;
  border-width: 0 0 2px;
  width: 20px;
  margin-left: 10px;
  background-color: rgba(238, 228, 228, 0.3);
  border: 1px solid rgba(164, 162, 162, 0.3);
  font-size: 22px;
}
#opt:focus {
  border: 1px solid rgba(164, 162, 162, 0.3);
}
#verify {
  color: #ffffff;
  background-color: #edb1c9;
  font-size: 14px;
  font-family: "Quicksand";
  padding: 10px;
  height: 41px;
  width: 180px;
  margin: 20px 0px 0px 3px;
  font-weight: 500;
  border: none;
  margin-left: -360px;
  margin-top: 25px;
}
#condition {
  display: flex;
  margin-top: 10px;
}

input#check {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-top: 17px;
}

#whatsapp {
  font-size: 14px;
  font-family: "Quicksand";
  color: #5c5c5c;
  margin-top: 20px;
  margin-left: 15px;
}

#terms {
  font-size: 14px;
  font-family: "Quicksand";
  color: #161616;
  margin-top: 20px;
}
#terms:hover {
  color: rgb(57, 111, 227);
}
#p1 {
  font-size: 15px;
  font-family: "Quicksand";
  width: 90%;
}
#extra {
  margin-top: 70px;
}
#extraInfo {
  display: flex;
  justify-content: center;
}

#terms2 {
  margin-top: 18px;
  margin-left: 5px;
  font-size: 14px;
  color: #161616;
}
#terms2:hover {
  color: rgb(57, 111, 227);
}

#p2 {
  color: #5c5c5c;
  font-size: 12px;
  font-family: "Quicksand";
  margin-top: 22px;
  margin-left: -100px;
}
/* css popup */
#slide {
  height: 1025.69px;
  width: 656.61px;
  /* border:1px solid red; */
}

#bg {
  height: 705.69px;
  width: 656.61px;
  position: relative;
  object-fit: cover;
  overflow: scroll;
}
#form {
  position: absolute;
  top: 80px;
  background-color: white;
  height: 440px;
  width: 600px;
  margin-left: 50px;
   overflow: scroll;
  /* border:1px solid red; */
}
#head {
  font-size: 24px;
  font-family: "Quicksand";
  color: #000000de;
}
#numHold {
  display: flex;
}
#code {
  font-size: 22px;
  margin-top: 10px;
  color: rgb(89, 89, 89);
  margin-right: 10px;
  margin-left: 20px;
}
#number {
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(147, 143, 143);
  height: 22px;
  width: 20px;
  margin-left: 10px;
  font-size: 22px;
  margin-top: 15px;
}
#number:focus {
  border-color: rgb(147, 143, 143);
}

#otp {
  width: 20px;
}
#request {
  height: 41px;
  width: 130px;
  background-color: #adadad;
  color: #ffffff;
  padding: 10px;
  font-size: 14px;
  border: none;
  margin-left: 30px;
}
#enter {
  font-size: 14px;
  font-family: "Quicksand";
  color: #e05e90;
  padding: 4px 0px;
  margin: 0px 0px 2px;
  text-align: left;
  margin-left: 30px;
}
#hr {
  width: 90%;
  margin-top: 20px;
  color: rgb(234, 225, 225);
}
#digit {
  font-size: 14px;
  font-family: "Quicksand";
  color: #464343de;
  font-weight: 500;
  margin: 0px 0px 2px;
  text-align: left;
  margin-left: 30px;
  margin-top: 40px;
}

#otpHold {
  display: flex;
  margin-top: 20px;
  height: 30px;
  width: 150px;

  margin-left: 30px;
}
#otp {
  outline: 0;
  border-width: 0 0 2px;
  width: 20px;
  margin-left: 10px;
  background-color: rgba(238, 228, 228, 0.3);
  border: 1px solid rgba(164, 162, 162, 0.3);
  font-size: 22px;
}
#opt:focus {
  border: 1px solid rgba(164, 162, 162, 0.3);
}
#verify {
  color: #ffffff;
  background-color: #edb1c9;
  font-size: 14px;
  font-family: "Quicksand";
  padding: 10px;
  height: 41px;
  width: 180px;
  margin: 20px 0px 0px 3px;
  font-weight: 500;
  border: none;
  margin-left: -360px;
  margin-top: 25px;
}
#condition {
  display: flex;
  margin-top: 10px;
}

input#check {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-top: 17px;
}

#whatsapp {
  font-size: 14px;
  font-family: "Quicksand";
  color: #5c5c5c;
  margin-top: 20px;
  margin-left: 15px;
}

#terms {
  font-size: 14px;
  font-family: "Quicksand";
  color: #161616;
  margin-top: 20px;
}
#terms:hover {
  color: rgb(57, 111, 227);
}
#p1 {
  font-size: 15px;
  font-family: "Quicksand";
  width: 90%;
}
#extra {
  margin-top: 70px;
}
#extraInfo {
  display: flex;
  justify-content: center;
}

#terms2 {
  margin-top: 18px;
  margin-left: 5px;
  font-size: 14px;
  color: #161616;
}
#terms2:hover {
  color: rgb(57, 111, 227);
}

#p2 {
  color: #5c5c5c;
  font-size: 12px;
  font-family: "Quicksand";
  margin-top: 22px;
  margin-left: -100px;
}

.bgmodal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  justify-content:end;
  align-items: center;
  /* margin-left: -30px; */
  /* margin-top:20px; */
}
.modalcontents {
  height: 90%;
  width: 450px;
  background-color: white;
  text-align: center;
  position:absolute;
  /* border-radius: 4px; */
  box-sizing: border-box;
  margin-right: -18px;
  margin-left: 850px;
  /* margin-top: 20px; */
}
